body{
    /*上に枠が欲しい*/
    padding-top: 40px;
    font-family: 'Courier New',sans-serif;
    text-align: center;
}

#target{
    font-size: 30px;
    letter-spacing:3px;
}

/*class*/

.info{
    color: #ccc;
    font-size: 10px;
}

/*coloer*/

#score{
    color:rgb(34, 230, 60);
}
#miss{
    color: rgb(28, 97, 231);
}
